<div class="container category-page">
  <div class="container-inner">
    <div class="page-header page-header--center">
      {{#is category.name "Resources and Onboarding "}}
        <div id="onboarding_and_resources_icon" class="category-list-item__icon"></div>
      {{/is}}
      {{#is category.name "Company Updates"}}
        <div id="company_updates_icon" class="category-list-item__icon"></div>
      {{/is}}
      {{#is category.name "Departments and Teams"}}
        <div id="departments_icon" class="category-list-item__icon"></div>
      {{/is}}
      <h1 class="page-header__title">
        {{category.name}}
      </h1>
      {{#if category.description}}
        <p class="page-description">
          {{category.description}}
        </p>
      {{/if}}
    </div>
    {{#if sections}}
      {{#each sections}}
        <hr class="section-divider" />
        <h4 class="section-header">
          {{#if internal}}
            <span class="fas fa-lock" title="{{t "internal"}}"></span>
          {{/if}}
          <b>
            {{name}}
          </b>
        </h4>
        <ul class="promoted-articles__list row">
          {{#each sections}}
            <li
              class="promoted-articles-item column column--sm-3 column--sm-6 column--lg-4"
            >
              <div class="promoted-articles-item__content">
                {{#if internal}}
                  <span class="fas fa-lock" title="{{t "internal"}}"></span>
                {{/if}}
                <a class="promoted-articles-item__title" href="{{url}}">
                  {{name}}
                </a>
              </div>
            </li>
          {{/each}}
        </ul>
      {{/each}}
    {{else}}
      <div class="column column--xs-12">
        <p>
          <i>
            <a href="{{category.url}}">
              {{t "empty"}}
            </a>
          </i>
        </p>
      </div>
    {{/if}}
  </div>
</div>