</div>
</div>
<div class="layout__footer">
  <footer class="footer">
    <div class="footer__wrapper container">
      <section class="footer-submit-ticket" data-footer-submit-ticket>
        <h2 class="footer-submit-ticket__title">
          {{#if settings.toggle_translations}}
            {{dc settings.footer_submit_ticket_title}}
          {{else}}
            {{settings.footer_submit_ticket_title}}
          {{/if}}
        </h2>
        <h4 class="footer-submit-ticket__subtitle">
          {{#if settings.toggle_translations}}
            {{dc settings.footer_submit_ticket_subtitle}}
          {{else}}
            {{settings.footer_submit_ticket_subtitle}}
          {{/if}}
        </h4>
        {{link 'new_request' class='btn btn--default footer-submit-ticket__btn'}}
      </section>
      <div class="container-inner footer__inner">
        <div class="footer__col copyright">
          <p>&copy; <a href="https://www.applyboard.com" target="_blank">ApplyBoard</a></p>
        </div>
        <div class="back-to-top">
          <button onclick="topFunction()" id="myBtn" title="Back to top">Back to top</button>
        </div>
        <div class="footer__col footer__col--social-links">
          {{#if settings.toggle_facebook_icon}}
            <a href="{{#if settings.toggle_translations}}{{dc settings.facebook_url}}{{else}}{{settings.facebook_url}}{{/if}}" target="_blank" class="footer-social-link fab fa-facebook-f"></a>
          {{/if}}
          {{#if settings.toggle_twitter_icon}}
            <a href="{{#if settings.toggle_translations}}{{dc settings.twitter_url}}{{else}}{{settings.twitter_url}}{{/if}}" target="_blank" class="footer-social-link fab fa-twitter"></a>
          {{/if}}
          {{#if settings.toggle_youtube_icon}}
            <a href="{{#if settings.toggle_translations}}{{dc settings.youtube_url}}{{else}}{{settings.youtube_url}}{{/if}}" target="_blank" class="footer-social-link fab fa-youtube"></a>
          {{/if}}
          {{#if settings.toggle_linkedin_icon}}
            <a href="{{#if settings.toggle_translations}}{{dc settings.linkedin_url}}{{else}}{{settings.linkedin_url}}{{/if}}" target="_blank" class="footer-social-link fab fa-linkedin"></a>
          {{/if}}
          {{#if settings.toggle_pinterest_icon}}
            <a href="{{#if settings.toggle_translations}}{{dc settings.pinterest_url}}{{else}}{{settings.pinterest_url}}{{/if}}" target="_blank" class="footer-social-link fab fa-pinterest-p"></a>
          {{/if}}
          {{#if settings.toggle_instagram_icon}}
            <a href="{{#if settings.toggle_translations}}{{dc settings.instagram_url}}{{else}}{{settings.instagram_url}}{{/if}}" target="_blank" class="footer-social-link fab fa-instagram"></a>
          {{/if}}
        </div>
      </div>
    </div>
  </footer>
</div>
</div>

{{#if settings.toggle_translations}}
  <div hidden data-lt-i18n-dictionary>
    <div data-lt-i18n="search_placeholder">{{dc settings.search_placeholder}}</div>
  </div>

  <script>
    var $ltDictionary = $('[data-lt-i18n-dictionary]');
    $('[role="search"] input[type="search"]').each(function (index, element) {
      $(element).attr('placeholder', $ltDictionary.find('[data-lt-i18n="search_placeholder"]').html());
    });
  </script>
{{/if}}

<script>
//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
