<div class="layout">
  <div class="layout__head">
    <header class="topbar is-hidden {{#is settings.hero_show_image 'yes'}}topbar_image{{/is}}" data-topbar>
      <div class="topbar__nav topbar__nav--white container">
        <div class="container-inner topbar__container-inner">
          <div class="topbar__inner">
            <div class="topbar__col clearfix">
              <div class="logo-wrapper">
                <div class="logo">
                  {{#link 'help_center'}}
                    <img src="{{settings.full_logo}}" alt="logo" data-svg>
                  {{/link}}
                </div>
              </div>
              <p class="help-center-name">
                {{#if settings.toggle_translations}}
                  {{dc settings.help_center_title}}
                {{else}}
                  {{settings.help_center_title}}
                {{/if}}
              </p>
              <button type="button" role="button" aria-label="Toggle Navigation" class="lines-button x" data-toggle-menu>
                <span class="lines"></span></button>
            </div>
            <div class="topbar__col topbar__menu">
              <div class="topbar__collapse" data-menu>
                <div class="topbar__controls">
                    <div id="search-bar">
                      {{search
                        class="search-box--small"
                        submit=false
                        placeholder=settings.search_placeholder
                      }}
                    </div>
                  {{link 'community' class='topbar__link'}}
                  {{link 'new_request' class='topbar__link submit-a-request'}}
                  {{user_info}}
                </div>
              </div>
            </div>
          </div>

          <div class="topbar__inner container_nav_bar">
            <div class="topbar__col topbar__menu">
              <div class="topbar__collapse" data-menu>
                <div class="topbar__controls category_row">
                  <a class="topbar_category_link column column--xs-offset-2 column--xs-2" href="https://applyguide.zendesk.com/hc/en-us/categories/360002015413-Company-Updates">
                    Updates
                  </a>
                  <a class="topbar_category_link column column--xs-2" href="https://applyguide.zendesk.com/hc/en-us/categories/360003928954-Departments-and-Teams">
                    Departments
                  </a>
                  <a class="topbar_category_link column column--xs-2" href="https://applyguide.zendesk.com/hc/en-us/categories/360001884593-Resources-Onboarding-">
                    Resources
                  </a>
                    <div id="user globalmarkets" class="user-info dropdown column column--xs-2" data-helper="user_info">
                      <div class="btn with-image dropdown-toggle" role="button">
                        <a id="user-name" class="topbar_category_link" href="https://applyguide.zendesk.com/hc/en-us/categories/360004377613-Global-Markets">
                          Global Markets
                        </a>
                      </div>
                      <div id="user-dropdown" class="dropdown-menu dropdown-menu-end dropdown-menu-caret" aria-expanded="false" role="menu">
                        <a role="menuitem" class="my-activities" href="https://applyguide.zendesk.com/hc/en-us/categories/360001909753-Canadian-Schools">
                          Canada
                        </a>
                        <a role="menuitem" class="my-activities" href="https://applyguide.zendesk.com/hc/en-us/categories/360002200674-USA-Schools-">
                          United States
                        </a>
                        <a role="menuitem" class="my-activities" href="https://applyguide.zendesk.com/hc/en-us/categories/360002421414-United-Kingdom-Schools">
                          United Kingdom
                        </a>
                        <a role="menuitem" class="my-activities" href="https://applyguide.zendesk.com/hc/en-us/categories/360002200694-Australian-Schools-">
                          Australia
                        </a>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="hero-unit is-hidden" data-hero-unit>
          <div class="container-inner search-box search-box--hero-unit" data-search-box>
            <div class="intro-title">
              {{#if settings.toggle_translations}}
                {{dc settings.hero_title}}
              {{else}}
                {{settings.hero_title}}
              {{/if}}
            </div>
            {{search instant=true submit=true placeholder=settings.search_placeholder}}
          </div>
          <div class="btn-group">
            <p class="popular-searches">Popular Searches:</p>
            <a href="https://applyboard.zendesk.com/hc/en-us/search?utf8=%E2%9C%93&query=conestoga+college">
            <button>Conestoga College</button></a>
            <a href="https://applyboard.zendesk.com/hc/en-us/search?utf8=%E2%9C%93&query=applyboard+fees">
              <button>ApplyBoard Fees</button></a>
            <a href="https://applyboard.zendesk.com/hc/en-us/search?utf8=%E2%9C%93&query=commissions">
              <button>Commissions</button></a>
          </div>
        </div>
      </div>
    </header>
  </div>
  <div class="layout__content">
