<!-- Include Handlebars from a CDN -->
<div class="categories-section container container--grey" data-home-page>
  <div class="container-inner">
    {{#is settings.toggle_category_list "yes"}}
    {{#if categories}}
    <div class="knowledge-base" id="category-list">
      <ul class="row updated-category-list">
        {{#each categories}}
        {{#is id 360005629933}}
        <div class="column column--sm-4 category-list-item" id="{{id}}">
          <a class="category-list-item__link" href="{{url}}">
            <div aria-label="promotions-and-scholorship-icon" role="img" alt="Promotions and Scholorship Icon"
              id="homepage_category_icon" style="background-image: url(
                        {{asset "promotions_and_scholorships.png"}}
                         )" class="category-list-item__icon"></div>
            <h2 class="h4 category-list-item__title" align="center">
              {{name}}
            </h2>
            <p class="meta" align="center">
              {{excerpt description}}
            </p>
          </a>
        </div>
        {{/is}}
        {{#is id 360004584614}}
        <div class="column column--sm-4 category-list-item" id="{{id}}">
          <a class="category-list-item__link" href="{{url}}">
            <div aria-label="recruiter-news-icon" role="img" alt="Recruiter News Icon" id="homepage_category_icon"
              style="background-image: url(
                        {{asset "recruiter_news.png"}}
                         )" class="category-list-item__icon"></div>
            <h2 class="h4 category-list-item__title" align="center">
              {{name}}
            </h2>
            <p class="meta" align="center">
              {{excerpt description}}
            </p>
          </a>
        </div>
        {{/is}}
        {{#is id 360005630093}}
        <div class="column column--sm-4 category-list-item" id="{{id}}">
          <a class="category-list-item__link" href="{{url}}">
            <div aria-label="policies-and-procedures-icon" role="img" alt="Policies and Procedures Icon"
              id="homepage_category_icon" style="background-image: url(
                        {{asset "policies_and_procedures.png"}}
                         )" class="category-list-item__icon"></div>
            <h2 class="h4 category-list-item__title" align="center">
              {{name}}
            </h2>
            <p class="meta" align="center">
              {{excerpt description}}
            </p>
          </a>
        </div>
        {{/is}}
        {{#is id 360005674973}}
        <div class="column column--sm-4 category-list-item" id="{{id}}">
          <a class="category-list-item__link" href="{{url}}">
            <div aria-label="student-success-icon" role="img" alt="Student Success Icon" id="homepage_category_icon"
              style="background-image: url(
                        {{asset "student_success.png"}}
                         )" class="category-list-item__icon"></div>
            <h2 class="h4 category-list-item__title" align="center">
              {{name}}
            </h2>
            <p class="meta" align="center">
              {{excerpt description}}
            </p>
          </a>
        </div>
        {{/is}}
        {{/each}}
      </ul>
    </div>
    {{/if}}
    {{/is}}
  </div>
  <div class="container-inner">
    <div class="knowledge-base" id="category-list">
      <h4 class="section-header">
        <b>
          School Information
        </b>
      </h4>
      <ul class="row updated-category-list">
        {{#each categories}}
        {{#is id 360005629933}}
        <div class="column column--sm-6 section-list-item" id="{{id}}">
          <a class="section-list-item__link school-section-link" href="{{url}}">
            <div class="column column--sm-4 school-section-icon" align="right">
              <img src={{asset 'industry_resources.png'}}>
            </div>
            <h2 class="column column--sm-8 h4 category-list-item__title" align="right">
              {{name}}
            </h2>
          </a>
        </div>
        {{/is}}
        {{#is id 360004584614}}
        <div class="column column--sm-6 section-list-item" id="{{id}}">
          <a class="section-list-item__link school-section-link" href="{{url}}">
            <div class="column column--sm-4 school-section-icon" align="right">
              <img src={{asset 'industry_resources.png'}}>
            </div>
            <h2 class="column column--sm-8 h4 category-list-item__title" align="right">
              {{name}}
            </h2>
          </a>
        </div>
        {{/is}}
        {{#is id 360005630093}}
        <div class="column column--sm-6 section-list-item" id="{{id}}">
          <a class="section-list-item__link school-section-link" href="{{url}}">
            <div class="column column--sm-4 school-section-icon" align="right">
              <img src={{asset 'industry_resources.png'}}>
            </div>
            <h2 class="column column--sm-8 h4 category-list-item__title" align="right">
              {{name}}
            </h2>
          </a>
        </div>
        {{/is}}
        {{#is id 360005674973}}
        <div class="column column--sm-6 section-list-item" id="{{id}}">
          <a class="section-list-item__link school-section-link" href="{{url}}">
            <div class="column column--sm-4 school-section-icon" align="right">
              <img src={{asset 'industry_resources.png'}}>
            </div>
            <h2 class="column column--sm-8 h4 category-list-item__title" align="right">
              {{name}}
            </h2>
          </a>
        </div>
        {{/is}}
        {{/each}}
      </ul>
      </section>
    </div>
    {{! <section class="promoted-articles" id="promoted-articles">
    <h4 class="column column--sm-12 section-header">
      <b>
        School Information
      </b>
    </h4> }}
    {{!-- <ul class="promoted-articles__list row">


    {{#each categories}}
      {{#is id 360005675613}}
        </li>
      {{/is}}
      {{#is id 360005675633}}
        {{name}}
      {{/is}}
      {{#is id 360005675653}}
        {{name}}
      {{/is}}
      {{#is id 360005675673}}
        {{name}}
      {{/is}}
    {{/each}}
    </ul> --}}
  </div>