<!-- Include Handlebars from a CDN -->
<div class="categories-section container container--grey" data-home-page>
  <div class="container-inner">
    {{#is settings.toggle_category_list "yes"}}
      {{#if categories}}
        <div class="knowledge-base" id="category-list">
          <ul class="row updated-category-list">
            {{#each categories}}
              {{! TODO: Convert this to a method to check which category it is }}
              {{#is name "Global Markets"}}
                <div
                  class="column column--sm-12 category-list-item"
                  id="{{id}}"
                >
                  <a class="category-list-item__link" href="{{url}}">
                    <div
                      id="global_markets_icon"
                      class="category-list-item__icon"
                    ></div>
                    <h2 class="h4 category-list-item__title" align="center">
                      {{name}}
                    </h2>
                    <p class="meta" align="center">
                      {{excerpt description}}
                    </p>
                  </a>
                </div>
              {{/is}}
              {{#is name "Company Updates"}}
                <div class="column column--sm-4 category-list-item" id="{{id}}">
                  <a class="category-list-item__link" href="{{url}}">
                    <div
                      id="company_updates_icon"
                      class="category-list-item__icon"
                    ></div>
                    <h2 class="h4 category-list-item__title" align="center">
                      {{name}}
                    </h2>
                    <p class="meta" align="center">
                      {{excerpt description}}
                    </p>
                  </a>
                </div>
              {{/is}}
              {{#is name "Departments and Teams"}}
                <div
                  class="column column--sm-4 category-list-item"
                  id="{{id}}"
                  data="{{name}}"
                >
                  <a class="category-list-item__link" href="{{url}}">
                    <div
                      id="departments_icon"
                      class="category-list-item__icon"
                    ></div>
                    <h2 class="h4 category-list-item__title" align="center">
                      {{name}}
                    </h2>
                    <p class="meta" align="center">
                      {{excerpt description}}
                    </p>
                  </a>
                </div>
              {{/is}}
              {{#is name "Resources & Onboarding "}}
                <div class="column column--sm-4 category-list-item" id="{{id}}">
                  <a class="category-list-item__link" href="{{url}}">
                    <div
                      id="onboarding_and_resources_icon"
                      class="category-list-item__icon"
                    ></div>
                    <h2 class="h4 category-list-item__title" align="center">
                      {{name}}
                    </h2>
                    <p class="meta" align="center">
                      {{excerpt description}}
                    </p>
                  </a>
                </div>
              {{/is}}
            {{/each}}
          </ul>
        </div>
      {{/if}}
    {{/is}}
  </div>
  <div class="container-inner">
    {{#is settings.toggle_promoted_articles "yes"}}
      <section class="promoted-articles" id="promoted-articles">
        <h4 class="section-header">
          <b>
            {{t "promoted_articles"}}
          </b>
        </h4>
        <ul class="promoted-articles__list row">
          {{#each promoted_articles}}
            <li
              class="promoted-articles-item column column--sm-3 column--sm-6 column--lg-4"
            >
              <div class="promoted-articles-item__content">
                <a class="promoted-articles-item__title" href="{{url}}">
                  {{title}}
                </a>
              </div>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/is}}
  </div>
  <div class="container-inner">
    <section class="apply-fam" id="apply-fam">
      <h4 class="section-header">
        <b>
          Life at ApplyBoard
        </b>
      </h4>
      <div class="row" style="height: 500px">
        <div class="column column--xs-6 column--sm-6 column--sm-offset-1">
          <div class="row">
            <div class="column column--xs-6 column--sm-12 fam-card-wrapper">
              <div class="apply-fam-card" id="fam-card__life">
                Featured Video
                <iframe
                  class="life-at-applyboard-video"
                  src="https://www.youtube.com/embed/{{settings.life_at_applyboard_youtube_id}}"
                  frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="column column--xs-6 column--sm-4 fam-card-wrapper">
              <a
                id="creative-channels_link"
                href="https://applyguide.zendesk.com/hc/en-us/articles/360051802313-Executive-Creative-Channels-"
              >
                <div class="apply-fam-card" id="fam-card__creative_channels">
                  Creative Channels
                  <div class="apply-fam-logo">
                    <i class="fas fa-palette"></i>
                  </div>
                </div>
              </a>
            </div>
            <div class="column column--xs-6 column--sm-8 fam-card-wrapper">
              <a id="blog_link" href="https://www.applyboard.com/blog">
                <div class="apply-fam-card" id="fam-card__blog">
                  ApplyBoard Blog
                  <div class="apply-fam-logo">
                    <i class="fas fa-pencil-alt"></i>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="column column--xs-6 column--sm-4">
          <div class="row">
            <div class="column column--xs-6 column--sm-6 fam-card-wrapper">
              <a id="apply_buzz_link" href="">
                <div class="apply-fam-card" id="fam-card__committees">
                  ApplyBuzz
                  <div class="apply-fam-logo">
                    <i class="fas fa-bullhorn"></i>
                  </div>
                </div>
              </a>
            </div>
            <div class="column column--xs-6 column--sm-6 fam-card-wrapper">
              <a
                id="apply_clubs_link"
                href="https://applyguide.zendesk.com/hc/en-us/sections/360004978294-ApplyClubs"
              >
                <div class="apply-fam-card" id="fam-card__clubs">
                  ApplyClubs
                  <div class="apply-fam-logo">
                    <i id="fam-card__clubs-logo" class="fas fa-star"></i>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="column column--xs-6 column--sm-12 fam-card-wrapper">
              <div class="apply-fam-card" id="fam-card__events">
                What's Happening at ApplyBoard
                <li id="event-0" class="event-list-item" onclick=""></li>
                <li id="event-1" class="event-list-item" onclick=""></li>
                <li id="event-2" class="event-list-item" onclick=""></li>
                <li id="event-3" class="event-list-item" onclick=""></li>
                <li id="event-4" class="event-list-item" onclick=""></li>
                <li id="event-5" class="event-list-item" onclick=""></li>
                <li id="event-6" class="event-list-item" onclick=""></li>
                <li id="event-7" class="event-list-item" onclick=""></li>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>