<div class="container category-page">
  <div class="container-inner">
    <div class="row clearfix">
      <div class="column column--sm-8">
        {{breadcrumbs}}
      </div>
      <div class="column column--sm-4">
        {{search
          class="search-box--small"
          submit=false
          placeholder=settings.search_placeholder
        }}
      </div>
    </div>
    <div class="page-header page-header--center">
      <div class="section-header">
        <div class="section-header__col section-header__col--main">
          <h1 class="h2">
            {{category.name}}
          </h1>
        </div>
      </div>
    </div>
    {{#if category.sections}}
    <ul class="row section-list">
      {{#each category.sections}}
      <li class="column column column--sm-6 column--md-4 section-list-item">
        <a class="section-list-item__link school__link" href="{{url}}">
          <h2 class="h5 section-list-item__title">
            {{name}}
          </h2>
          <p class="meta">
            {{description}}
          </p>
        </a>
      </li>
      {{/each}}
    {{else}}
    <div class="column column--xs-12">
      <p>
        <i>
          <a href="{{category.url}}">
            {{t "empty"}}
          </a>
        </i>
      </p>
    </div>
    {{/if}}
  </div>
</div>