<div class="container section-page">
  <div class="container-inner">
    <div class="row clearfix">
      <div class="column column--sm-8">
        {{breadcrumbs}}
      </div>
    </div>


    <div class="page-header page-header--center">
      <div id="country_flag_object" class="category-list-item__icon"></div>
      <h1 class="page-header__title">
        {{#if section.internal}}
        <span class="fas fa-lock" title="{{t 'internal'}}"></span>
        {{/if}}
        {{section.name}}
      </h1>
      {{#if section.description}}
      <p class="page-description">{{section.description}}</p>
      {{/if}}
      <div class="section-header__col section-header__col--button">
        {{subscribe}}
      </div>
    </div>

  </div>

  <div class="container-inner">
    <section>
      <h4 class="section-header">
        <b>
          General Categories
        </b>
      </h4>
      <ul class="row updated-category-list">
        {{#each section.sections}}
        <div class="column column--sm-6 section-list-item" id="{{id}}">
          <a class="section-list-item__link school-section-link" href="{{url}}">
            <div class="column column--sm-4 school-section-icon" align="right">
              <img src={{asset 'industry_resources.png'}}>
            </div>
            <h2 class="column column--sm-8 h4 category-list-item__title" align="right">
              {{name}}
            </h2>
          </a>
        </div>
        {{/each}}
      </ul>
    </section>
  </div>

  <div class="container-inner">
    <section>
      {{#if section.articles}}
      <h4 class="section-header">
        <b>
          Related Articles
        </b>
      </h4>
      <ul class="column column--md-12">
        <ul class="promoted-articles__list row">
          {{#each section.articles}}
          <li class="promoted-articles-item column column--sm-3 column--sm-6 column--lg-4">
            <div class="promoted-articles-item__content">
              {{#if internal}}
              <span class="fas fa-lock" title="{{t internal}}"></span>
              {{/if}}
              <a class="promoted-articles-item__title" href="{{url}}">
                {{title}}
              </a>
            </div>
          </li>
          {{/each}}
        </ul>
      </ul>
      {{/if}}
    </section>
  </div>



</div>
